<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @customer_scaffold.email %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @customer_scaffold.first_name %>
</p>

<p>
  <strong>First Name kana:</strong>
  <%= @customer_scaffold.first_name_kana %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer_scaffold.last_name %>
</p>

<p>
  <strong>Last Name kana:</strong>
  <%= @customer_scaffold.last_name_kana %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @customer_scaffold.tel %>
</p>

<p>
  <strong>Placeholder:</strong>
  <%= @customer_scaffold.placeholder %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer_scaffold.birthday %>
</p>

<%= link_to 'Edit', edit_customer_scaffold_path(@customer_scaffold) %> |
<%= link_to 'Back', customer_scaffolds_path %>
