<%= form_with(model: scaffold_sale, local: true) do |form| %>
  <% if scaffold_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scaffold_sale.errors.count, "error") %> prohibited this scaffold_sale from being saved:</h2>

      <ul>
        <% scaffold_sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="nav">
  <div class="nav-item">
    <div class="field">
      <%= form.label :start_stay %>
      <%= form.date_select :start_stay %>
    </div>
  </div>
  <div class="nav-item">
  <div class="field">
    <%= form.label :end_stay %>
    <%= form.date_select :end_stay %>
  </div>
  </div>
  <div class="nav-item">
  <div class="field">
    <%= form.label :customer_scaffold_id %>
    <%= form.text_field :customer_scaffold_id %>
  </div>
  </div>
  <div class="nav-item">
  <div class="field">
    <%= form.label :room2_id %>
    <%= form.text_field :room2_id %>
  </div>
  </div>
  <div class="nav-item">
  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
</div>
<% end %>
