<p id="notice"><%= notice %></p>

<p>
  <strong>Start stay:</strong>
  <%= @scaffold_sale.start_stay %>
</p>

<p>
  <strong>End stay:</strong>
  <%= @scaffold_sale.end_stay %>
</p>

<p>
  <strong>Customer scaffold:</strong>
  <%= @scaffold_sale.customer_scaffold_id %>
</p>

<p>
  <strong>Room2:</strong>
  <%= @scaffold_sale.room2_id %>
</p>

<%= link_to 'Edit', edit_scaffold_sale_path(@scaffold_sale) %> |
<%= link_to 'Back', scaffold_sales_path %>
