<h2>ユーザー登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

 <!-- ユーザー名を追加 -->
  <div class="field col-3">
    <%= f.label "ユーザー名" %><br />
    <%= f.text_field :username , class:"form-control", placeholder:"name"%>
  </div>

  <div class="field col-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"email adress" %>
  </div>

  <div class="field col-3">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"password" %>
  </div>

  <div class="field col-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control", placeholder:"password" %>
  </div>



  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-raised btn-primary'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
