<%= form_with(model: resevation, local: true) do |form| %>
  <% if resevation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resevation.errors.count, "error") %> prohibited this resevation from being saved:</h2>

      <ul>
        <% resevation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <%= current_user.name %>

    <div class="form-row col-4">
      <div class="form-group col-md-5">
        <%= form.label :start_stay %>
        <%= form.date_select :start_stay , {}, {:class => "form-control"}%>
      </div>

      <div class="form-group col-md-5">
        <%= form.label :end_start%>
        <%= form.date_select :end_start, {}, {:class => "form-control"} %>
      </div>
    </div>

    <div class="form-group col-3 ">
      <%= form.label :room_id %>
      <%= form.select :room_id , Room.all.map{ |room|[room.number, room.id] } , {}, {:class => "form-control"}%>
    </div>

    <div class="form-group col-3">
      <%= form.label :customer_id %>
      <%= form.select :customer_id , Customer.all.map{|customer|[customer.id]}, {}, {:class => "form-control"}%>
    </div>


  <div class="form-group col-3 ">
    <%= form.submit '登録', class: "btn btn-raised btn-primary "%>
  </div>
<% end %>


