<p id="notice"><%= notice %></p>

<h1>Resevations</h1>

<table>
  <thead>
    <tr class="table">
      <th scope="col">Start stay</th>
      <th scope="col">End start</th>
      <th scope="col">Room number</th>
      <th scope="col">Last name</th>
      <th scope="col">First name</th>
      <th scope="col">User name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @resevations.each do |resevation| %>
      <tr>
        <td scope="row"><%= resevation.start_stay %></td>
        <td scope="row"><%= resevation.end_start %></td>
        <td scope="row"><%= resevation.room.number %></td>
        <td scope="row"><%= resevation.customer.last_name %></td>
        <td scope="row"><%= resevation.customer.first_name %></td>
        <td scope="row"><%= resevation.user.username %></td>
        <td><%= link_to 'Show', resevation , class: "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_resevation_path(resevation) , class: "btn btn-raised btn-default" %></td>
        <td><%= link_to 'Destroy', resevation, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-raised btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resevation', new_resevation_path %>
