<p id="notice"><%= notice %></p>

<h1>予約一覧</h1>
  <%= form_with url:'/resevations', method: :get, local: true do |f| %>
    <div class="field">
      <%= f.label :stay %>
      <%= f.date_field :start_stay, value: @search_params[:start_stay] %> ~
      <%= f.date_field :end_stay, value: @search_params[:end_stay] %>
    </div>
    <%= f.submit "検索" %>
  <% end %>


<table>
  <thead>

    <th>宿泊開始日</th>
    <th>宿泊終了日</th>
    <th>部屋番号</th>
    <th>苗字</th>
    <th>名前</th>
    <th>会社名</th>

  </thead>
  <tbody>

        <% Room.all.each do |room| %>
      <tr>
          <% if @resevations[room.id] %>
          <%# // 対象の部屋に予約がある場合の表示 %>
        <td scope="row"><%= @search_params[:start_stay] %></td>
        <td scope="row"><%= @search_params[:end_stay] %></td>
        <td scope="row"><%= room.number %></td>
        <td scope="row"><%= @resevations[room.id].customer.last_name %></td>
        <td scope="row"><%= @resevations[room.id].customer.first_name %></td>
        <td scope="row"><%= @resevations[room.id].customer.company %></td>


          <% else %>
          <%# // 対象の部屋に予約がない場合の表示 %>
          <% end %>
        <% end %>
        <%# <td scope="row"><%= @serch_params[:customer][:last_name] </td> %>
        <%# <td scope="row"><%= resevation.customer.first_name </td>%>
        <%# <td scope="row"><%= resevation.user.username </td>%>
        <%# <td><%= link_to 'Show', resevation , class: "btn btn-outline-primary" %></td>
        <%# <td><%= link_to 'Edit', edit_resevation_path(resevation) , class: "btn btn-raised btn-default" %></td>
        <%# <td><%= link_to 'Destroy', resevation, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-raised btn-danger" %></td>
      </tr>


  </tbody>
</table>

<br>

<%= link_to '予約を追加', new_resevation_path , class: 'btn  btn-raised btn-primary' %>
