<p>
  <strong>Start stay:</strong>
  <%= @resevation.start_stay %>
</p>

<p>
  <strong>End stay:</strong>
  <%= @resevation.end_stay %>
</p>

<p>
  <strong>Room:</strong>
  <%= @resevation.room.number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @resevation.customer.last_name  %><%= @resevation.customer.first_name %>
</p>

<p>
<strong>Customer company:</strong>
  <%= @resevation.customer.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @resevation.user.username %>
</p>

<%= link_to 'Edit', edit_resevation_path(@resevation) %> |
<%= link_to 'Back', resevations_path %>
