<%= form_with(model: scaffold_resevation, local: true) do |form| %>
  <% if scaffold_resevation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scaffold_resevation.errors.count, "error") %> prohibited this scaffold_resevation from being saved:</h2>

      <ul>
        <% scaffold_resevation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_stay %>
    <%= form.date_select :start_stay %>
  </div>

  <div class="field">
    <%= form.label :end_stay %>
    <%= form.date_select :end_stay %>
  </div>

  <div class="field">
    <%= form.label :customer_scaffold_id %>
    <%= form.text_field :customer_scaffold_id %>
  </div>

  <div class="field">
    <%= form.label :room2_id %>
    <%= form.text_field :room2_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
