<p id="notice"><%= notice %></p>

<h1>Scaffold Resevations</h1>

<table>
  <thead>
    <tr>
      <th>Start stay</th>
      <th>End stay</th>
      <th>Customer scaffold</th>
      <th>Room2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scaffold_resevations.each do |scaffold_resevation| %>
      <tr>
        <td><%= scaffold_resevation.start_stay %></td>
        <td><%= scaffold_resevation.end_stay %></td>
        <td><%= scaffold_resevation.customer_scaffold_id %></td>
        <td><%= scaffold_resevation.room2_id %></td>
        <td><%= link_to 'Show', scaffold_resevation %></td>
        <td><%= link_to 'Edit', edit_scaffold_resevation_path(scaffold_resevation) %></td>
        <td><%= link_to 'Destroy', scaffold_resevation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scaffold Resevation', new_scaffold_resevation_path %>
