<p id="notice"><%= notice %></p>

<h1>お客様一覧</h1>
<%= link_to '新規お客様情報の登録', new_customer_path , class: 'btn  btn-raised btn-primary'%>

<table>
  <thead>
    <tr class="table" >
      <th scope="col">No</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">会社名</th>
      <th scope="col">姓</th>
      <th scope="col">名</th>
      <th scope="col">電話番号</th>
      <th scope="col">生年月日</th>
      <th scope="col">メモ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table">
    <% @customers.each do |customer| %>
      <tr>
        <td scope="row"><%= customer.id %></td>
        <td scope="row"><%= customer.email %></td>
        <td scope="row"><%= customer.company %></td>
        <td scope="row"><%= customer.last_name %></td>
        <td scope="row"><%= customer.first_name %></td>
        <td scope="row"><%= customer.tel %></td>
        <td scope="row"><%= customer.birthday %></td>
        <td scope="row"><%= customer.placeholder %></td>
        <td scope="row"><%= link_to '詳細', customer , class: "btn btn-outline-primary"%></td>
        <td scope="row"><%= link_to '更新', edit_customer_path(customer) , class: "btn btn-raised btn-default" %></td>
        <td scope="row"><%= link_to '削除', customer, method: :delete, data: { confirm: 'ほんとうに削除しますか？' } ,class: "btn btn-raised btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


