<% provide(:title, 'Customer_sign_up') %>
<h1>顧客情報登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @customer, local: true) do |f| %>
      <%= f.label :name_first %>
      <%= f.text_field :name_first %>

      <%= f.label :name_first_kana %>
      <%= f.text_field :name_first_kana %>

      <%= f.label :name_last %>
      <%= f.text_field :name_last %>

      <%= f.label :name_last_kana %>
      <%= f.text_field :name_last_kana %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :tel %>
      <%= f.text_field :tel %>

      <%= f.submit "Create customer info", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
