<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<p>
  <strong>Side:</strong>
  <%= @room.side %>
</p>

<p>
  <strong>Smoke:</strong>
  <%= @room.smoke %>
</p>


<%= link_to 'Back', rooms_path %>
