<p id="notice"><%= notice %></p>

<p>
  <strong>Start stay:</strong>
  <%= @sale.start_stay %>
</p>

<p>
  <strong>End stay:</strong>
  <%= @sale.end_stay %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @sale.room_id %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
